.section_heading{
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 90px;
    padding-top:50px;
    padding-bottom:76px;

    img{
        padding:20px 0;
    }
    p{
        font-size: 14px;
        color: #7a7a7a;
    }
}
@import '/src/responsive.scss';